body {
    background-color: white;
    font-family: 'IBM', monospace;
    font-size: 13px;
}
h2 {
    padding-top: 20px;
    padding-bottom: 10px;
}
h3 {
    padding-top: 10px;
    font-weight: bold;
}
i {
    color: rgb(36, 163, 242);
}
.layout {
    display: flex;
}
.left {
    background-color: rgb(28, 28, 30);
    width: 300px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 1289px;
    border-right: 2px solid rgb(36, 163, 242);
}
.right {
    color: rgb(28, 28, 30);
    width: 70%;
    border-left: 2px solid rgb(36, 163, 242);
}
.img-container {
    border-radius: 50%;
}
.left-infos {
    display: grid;
    width: 90%;
    grid-template-columns: 10% 90%;
}
.left-infos > h2 {
    padding: 20px;
}
.left-infos > i {
    font-size: 20px;
    margin: auto;
}
.left-infos a {
    color: white;
    text-decoration: none;
}
section {
    width: 80%;
}
.section-title {
    font-size: 1.5em;
    font-weight: bold;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.me-img {
    object-fit: cover;
    object-position: 90% 30%;
    border-radius: 50%;
    border: 2px solid rgb(36, 163, 242);
    width: 200px;
    height: 200px;
}

.title-container {
    background-color: rgb(28, 28, 30);
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
    margin: 30px auto;
}
.skills {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.skill:nth-child(even) {
    padding-left: 20px;
}

.backend-skills {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.backend-skills > span > i {
    padding-right: 5px;
}
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}
.main-content i {
    color: rgb(36, 163, 242);
}
.contact-medium {
    padding: 7px 0;
}

.stack > li {
    display: inline-block;
}
.stack > li::after {
    content: '';
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-left: 7px;
    display: inline-block;
    background: rgb(36, 163, 242);
}
.stack > li:last-child::after {
    content: '';
    height: 0;
    width: 0;
}
