body {
    background-color: white;
    font-family: 'GillSans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
}
h1 {
    font-size: 32px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
h2 {
    padding: 10px 0;
}
h3 {
    font-weight: bold;
    font-size: 16px;
}
i {
    color: rgb(36, 163, 242);
}
.layout {
    display: flex;
}
.left {
    background-color: rgb(28, 28, 30);
    width: 250px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 1150px;
    border-right: 2px solid rgb(36, 163, 242);
}
.right {
    color: rgb(28, 28, 30);
    width: 70%;
    border-left: 2px solid rgb(36, 163, 242);
}
.img-container {
    border-radius: 50%;
    padding: 10px 0;
}
.left-infos {
    display: grid;
    width: 90%;
    grid-template-columns: 10% 90%;
}
.left-infos > h2 {
    padding: 12px;
}
.left-infos > i {
    font-size: 20px;
    margin: auto;
}
.left-infos a {
    color: white;
    text-decoration: none;
}

.section-title {
    font-size: 1.5em;
    font-weight: bold;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.me-img {
    object-fit: cover;
    object-position: 90% 30%;
    border-radius: 50%;
    border: 2px solid rgb(36, 163, 242);
    width: 200px;
    height: 200px;
}

.title-container {
    background-color: rgb(28, 28, 30);
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
    margin: 20px auto 0 auto;
}
.skills {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
    text-align: justify;
}
/*.skill:nth-child(even) {*/
/*    padding-left: 20px;*/
/*}*/

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
}
.main-content i {
    color: rgb(36, 163, 242);
}
.main-content > div {
    width: 100%;
}
.contact-medium {
    padding: 3px 0;
}

.stack {
    display: flex;
    justify-content: center;
    padding-top: 3px;
    padding-bottom: 3px;
    gap: 10px;
    align-items: center;
}

.justify-text {
    text-align: justify;
}

.separator {
    width: 10px;
    height: 4px;
    background-color: rgb(36, 163, 242);
}

.date {
    font-size: 0.8em;
    color: rgb(36, 163, 242);
    padding: 3px 0;
    justify-self: center;
}

.milestone {
    padding: 0;
}

.project-mid-dates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.milestone-title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 5px;
}
.milestone-category {
    padding-bottom: 0;
    text-align: center;
}

.left ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.left .contact-mediums {
    gap: 0;
}

.side-project-content {
    padding-top: 15px;
}

@media print {
    body {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}